<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>发布</title>
   <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="../static/js/util.js"></script>
   <script>
      function check_data() {
         const s = document.forms['release_form']['content'].value;
         if (if_empty(s)) {
            alert('输入内容不能为空');
            return false;
         } else if (s.length > 255) {
            alert('目前字数为' + s.length + '\n' + '请不要超过255字');
            return false;
         } else if (count_lines(s) > 3) {
            alert('换行已达到' + count_lines(s) + '次\n' + '请不要超过3次换行');
            return false;
         }
         return true;
      }
   </script>
</head>
<body>

<div class="container">
   <div class="row" id="user_info">

   </div>
   <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
         {% if message %}
         <form role="form" onsubmit="return check_data()" action="{{ url_for('modify', message_id=message.id) }}"
               method="POST" name="modify_form">
         {% else %}
         <form role="form" onsubmit="return check_data()" action="{{ url_for('release') }}"
               method="POST" name="release_form">
         {% endif %}
            <div class="form-group">
               <h3><label for="textarea">内容</label></h3>
               <textarea class="form-control" rows="4" id="textarea" name="content"
                         placeholder="留言不多于255字, 换行不超过3次">
                  {%- if message -%}
                  {{- message.content -}}
                  {%- endif -%}
               </textarea>
            </div>
            <div class="col-sm-9"></div>
            <div class="col-sm-3 button-group">
               {% if message %}
               <button type="submit" class="btn btn-success">确认修改</button>
               {% else %}
               <button type="submit" class="btn btn-success">发布</button>
               <button type="button" class="btn btn-default" onclick="window.history.back()">返回</button>
               {% endif %}
            </div>
         </form>
      </div>
      <div class="col-sm-1"></div>
   </div>
</div>

</body>
</html>
